@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>
    Bacon ipsum dolor amet pancetta landjaeger dolore cillum magna esse. Hamburger qui ex beef beef
    ribs pariatur biltong est ad magna. Chuck shank swine, ut lorem magna in pork belly. Elit dolore
    sint laborum, frankfurter jerky voluptate ut chuck nisi burgdoggen kevin. Nulla swine doner short
    loin, incididunt pork belly jerky cupidatat voluptate frankfurter. Minim flank corned beef bresaola
    officia frankfurter ad aliquip in aliqua voluptate. Anim ribeye quis brisket.
</p>